<header>
    <div class="container row">
        <div class="logo">
            <a href="{{ url_for('index') }}">RockBurger</a>
        </div>

        <div class="nav-superior">
            <nav>
                <ul class="row">
                    <!-- <li><a href="#">Reservar mesa</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                    <li><a href="#" class="btn-link-login">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</header>