{% extends 'layout.html' %}
{% include 'header.html' %}
{% block content %}
    <section class="hero-burger">
        <div class="escurecer column">
            <div class="container" style="width: 70%;">
                <h1>Melhor hamburgueria do meu bairro!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni quas, fuga doloremque numquam totam eius facilis voluptatibus in odit nobis laboriosam quaerat.</p>
            </div>
        </div>
    </section>

    <div class="container">
        {% include 'lanches.html' %}
    </div>

    <div class="local">

    </div>

    <div class="contato">
        <div class="container">
            <form action="/nova_mensagem" method="POST">
                <h1>Envie uma mensagem</h1>
                <input type="text" name="nome" placeholder="Seu nome">
                <input type="email" name="email" placeholder="Seu e-mail">
                <textarea name="mensagem" placeholder="Sua mensagem"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div> 
{% endblock %}