{% extends 'layout.html' %}
{% include 'header.html' %}
{% block content %}
    <section class="hero-burger">
        <div class="escurecer column">
            <div class="container" style="width: 70%;">
                <h1>Melhor hamburgueria do meu bairro!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magni quas, fuga doloremque numquam totam eius facilis voluptatibus in odit nobis laboriosam quaerat.</p>
            </div>
        </div>
    </section>

    <div class="container">
        {% include 'lanches.html' %}
    </div>

    <section class="info">
        <div class="container sobre">
            <div class="endereco">
                <p>- +55 11 9999-9999</p>
                <p>- contato@rockburger.com</p>
                <p>- Rua Ali Perto - São Paulo</p>
                <p>- Horário 19:00 às 4:50 <span class="status"></span></p>
            </div>
            <div class="right">
                <button class="btn-message" onclick="abrir_formulario()">Envie uma mensagem</button>
            </div>
        </div>
    </section>

    <div class="overlay">
        <form class="form_contato" action="/nova_mensagem" method="POST">
            <button type="button" class="fechar" onclick="fecharForm()">X</button>
            <input type="text" name="nome" placeholder="Seu nome">
            <input type="email" name="email" placeholder="Seu e-mail">
            <textarea name="mensagem" placeholder="Sua mensagem"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <footer>Rockburger - Todos os direitos reservados</footer>
{% endblock %}