<div class="lanches-container">
    {%if lanches%}
    {%for lanche in lanches%}
    <div class="box-lanche">
        <div class="box-img">
            <img src="uploads/{{lanche.foto}}">
        </div>
        <div class="box-desc">
            <h1>{{lanche.titulo}}</h1>
            <p>{{lanche.descricao}}</p>
            {% if dashboard %}
            <a class="btn-remover" href="/dashboard/remover/{{lanche.id_lanche}}">Remover</a>
            {% endif %}
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>