/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1B1B1C;
}

/* classes */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    text-align: center;
    padding-top: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-link-login{
    border: 1px solid #fff;
    padding: 4px 22px;
    border-radius: 5px;
    margin-left: 18px;
}
.escurecer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* header */
header{
    position: absolute;
    width: 100%;
    padding: 2.3% 0;
}
header a{
    margin-left: 15px;
    color: #fff;
}
.logo a{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
}

/* hero img */
.hero-burger{
    background: url(../img/hero-burger.jpg) center center;
    background-size: cover;
    height: 95vh;
    max-height: 980px;
    text-align: center;
    color: #fff;
}
.hero-burger h1{
    font-size: 42px;
    margin-bottom: 35px;
}
.hero-burger p{
    margin-bottom: 20px;
}

.contador_visitas {
    padding: 20px;
    /* border: 1px solid #424242; */
    margin: 20px 0px;
    color: #424242;
    background: #111212;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.acoes {
    text-align: right;
    padding-top: 10px;
}

.acoes a {
    color: #fff;
    margin: 0 10px;
}

.form_lanche {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    color: #fff;
}

.form_lanche input, .form_lanche textarea {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
    padding: 5px;
}

.form_lanche input {
    height: 40px;
}

input[type=submit] {
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: #E19200;
    font-weight: bold;
    color: #000;
}

.btn-remover {
    background: #B71C1C;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

.lanches-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 0;
}

.box-lanche {
    width: 100%;
    max-width: 300px;
    height: 310px;
    /* background: #E19200; */
    background: #111212;
    /* color: #111212; */
    color: #fff;
}

.box-img {
    width: 100%;
}

.box-img img {
    width: 100%;
}

.box-img img, .box-img {
    height: 190px !important;
}

.box-desc {
    text-align: center;
    padding: 10px 0;
}

.btn-sair {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form_contato{
    width: 100%;
    max-width: 400px;
    /* margin: 60px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #111212;
    padding: 60px;
    border-radius: 40px;
}

.form_contato input {
    height: 40px;
}

.form_contato input, .form_contato textarea {
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.info {
    background: #111212;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0;
}

.endereco {
    color: #fff;
}

.endereco p {
    margin: 5px 0;
}

.btn-message {
    padding: 20px 80px;
    background: #E19200;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

footer {
    background: #E19200;
    padding: 10px 0;
    text-align: center;
    color: #000;
}

.fechar {
    position: relative;
    right: -170;
    top: -40;
    border: none;
    padding: 5px 9px;
    border-radius: 100%;
    background: #E19200;
    cursor: pointer;
}


.dashboard-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.dashboard-login input {
    width: 280px;
    height: 40px;
    margin: 2px 0px;
    padding-left: 5px;
}

.box-mensagem {
    width: 100%;
    padding: 10px;
    background: #111212 ;
    color: #fff;
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 10px 0;
}

.mensagem {
    padding-top: 5px;
}

.title {
    color: #E19200;
    text-align: center;
    margin-bottom: 10px;
}