/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* classes */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-link-login{
    border: 1px solid #fff;
    padding: 4px 22px;
    border-radius: 5px;
    margin-left: 18px;
}
.escurecer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* header */
header{
    position: absolute;
    width: 100%;
    padding: 2.3% 0;
}
header a{
    margin-left: 15px;
    color: #fff;
}
.logo a{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
}

/* hero img */
.hero-burger{
    background: url(../img/hero-burger.jpg) center center;
    background-size: cover;
    height: 95vh;
    max-height: 980px;
    text-align: center;
    color: #fff;
}
.hero-burger h1{
    font-size: 42px;
    margin-bottom: 35px;
}
.hero-burger p{
    margin-bottom: 20px;
}

.contador_visitas {
    padding: 20px;
    border: 1px solid #424242;
    margin: 20px 0px;
    color: #424242;
}

.form_lanche {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.form_lanche input, .form_lanche textarea {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
    padding: 5px;
}

.form_lanche input {
    height: 40px;
}

input[type=submit] {
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: #1B5E20;
    font-weight: bold;
    color: #fff;
}

.btn-remover {
    background: #B71C1C;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

.lanches-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 0;
}

.box-lanche {
    width: 100%;
    max-width: 300px;
    height: 310px;
    border: 1px solid #424242;
}

.box-img {
    width: 100%;
}

.box-img img {
    width: 100%;
}

.box-img img, .box-img {
    height: 190px !important;
}

.box-desc {
    text-align: center;
    padding: 10px 0;
}

.btn-sair {
    position: absolute;
    top: 10px;
    right: 10px;
}